.knight {
  height: 10vh;
  width: 10vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  border-radius: 10px;
  border: 1px solid black;
  background-color: #288DD7;
  font-size: medium;
  color: white;
}